*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

:root{
    --background-color: rgb(14, 0, 173);
    --footer-bckground: rgb(7, 0, 88);
    --primary-color:  rgb(106, 178, 255);
    --btn-hover:  rgb(42, 125, 213);
}

/*HEADER SECTION*/

header{
    width: 100%;
    background-color: var(--background-color);
    padding-bottom: 100px;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

.navbar-title{
    margin-left: 5%;
}

.navbar-title a{
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.navbar-menu{
    margin-right: 5%;
}

.navbar-menu a{
    color: white;
    margin-left: 30px;
}

.menu-active{
    color: var(--primary-color) !important;
}

#menu-icon{
    display: none;
}

.header-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 100px;
}

.header-par{
    width: 500px;
    gap: 30px;
}

.header-par h1 {
    color: white;
    margin-bottom: 30px;
}

.header-par p{
    color: white;
    margin-bottom: 30px;
}

button{
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 30px;
}

button:hover{
    background-color: var(--btn-hover);
}

.header-img img{
    width: 500px;
    position: relative;

    animation-name: img;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@-webkit-keyframes img {
  0% {
            transform: translateY(-15px);
  }
  50% {
            transform: translateY(15px);
  }
  100% {
            transform: translateY(-15px);
  }
}

/*ABOUT SECTION*/

.about{
    width: 100%;
    padding-bottom: 100px;
}

.about-title{
    text-align: center;
    padding-top: 100px;
}

.about-title h1{
    margin-bottom: 20px;
}

.about-title span{
    color: var(--primary-color);
}

.about-title p{
    margin-left: 5%;
    margin-right: 5%;
}

.about-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.about-img img{
    width: 500px;
}

.about-par{
    width: 500px;
}

/*SERVICE SECTION*/

.service{
    width: 100%;
    padding-bottom: 100px;
    background-color: var(--background-color);
}

.service-title{
    text-align: center;
    padding-top: 100px;
}

.service-title h1{
    margin-bottom: 20px;
    color: white;
}

.service-title span{
    color: var(--primary-color);
}

.service-title p{
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

.service-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 50px;
}

.service-box{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(147, 123, 254);
    border-radius: 20px;
    transition: all 0.5s ease;
}

.service-box:hover{
    transform: translateY(-10px);
}

.service-img img{
    width: 150px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.service-text{
    margin-bottom: 10px;
}

.service-text p{
    margin-left: 10px;
    margin-right: 10px;
}

.service button{
    text-align: center;
}

/*WHY SECTION*/

.why{
    width: 100%;
    padding-bottom: 100px;
}

.why-title{
    text-align: center;
    padding-top: 100px;
}

.why-title h1{
    margin-bottom: 20px;
}

.why-title span{
    color: var(--primary-color);
}

.why-title p{
    margin-left: 5%;
    margin-right: 5%;
}

.why-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin-top: 50px;
}

.why-box{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}

.why-img{
    width: 250px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 15px;
}

.why-img img{
    width: 150px;
}

.why-box h3{
    margin-bottom: 10px;
}

/*TEAM SECTION*/

.team{
    width: 100%;
    padding-bottom: 100px;
    background-color: var(--background-color);
}

.team-title{
    text-align: center;
    padding-top: 100px;
}

.team-title h1{
    margin-bottom: 20px;
    color: white;
}

.team-title span{
    color: var(--primary-color);
}

.team-title p{
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

.team-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    gap: 20px;
}

.team-box{
    width: 270px;
    background-color: var(--btn-hover);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.team-img img{
    width: 200px;
    border-radius: 50%;
    border: 3px solid black;
}

.team-par{
    margin-bottom: 10px;
    margin-top: 10px;
}

.team-par h3{
    margin-bottom: 10px;
}

.media-social a{
    font-size: 25px;
    padding: 5px;
    color: black;
    transition: all 0.5s ease;
}

.media-social a:hover{
    color: var(--primary-color);
}

/*FOOTER SECTION*/

footer{
    width: 100%;
    background-color: var(--footer-bckground);
    padding-bottom: 30px;
}

.footer-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.footer-box{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-addres{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 25px;
}

.footer-addres a{
    color: white;
    transition: all 0.5s ease;
}

.footer-addres a:hover{
    color: var(--primary-color);
}

.footer-info{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 25px;
    margin-bottom: 65px;
}

.footer-info p{
    color: white;
}

.footer-link{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    margin-bottom: 35px;
}

.footer-link a{
    color: white;
    transition: all 0.5s ease;
}

.footer-link a:hover{
    color: var(--primary-color);
}

.footer-copyright{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}














@media (max-width:1024px){
    html{
        font-size: 80%;
    }

    .header-par{
        width: 350px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    button{
        margin-left: 30%;
        margin-right: 30%;
    }

    .header-img img{
        width: 350px;
    }

    .about-img img{
    width: 350px;
    }

    .about-par{
    width: 350px;
    text-align: center;
    }

    .service-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .footer-addres{
        text-align: center;
    }

    .footer-info{
        width: 150px;
        margin-top: 20px;
        text-align: center;
    }

    .footer-link{
        text-align: center;
    }

}

@media (max-width:768px){
    html{
        font-size: 80%;
    }

    #menu-icon{
        display: inline-block;
        font-size: 30px;
        color: white;
        margin-right: 5%;
    }

    .navbar-menu{
        position: absolute;
        top: 100%;
        right: 0;
        width: 150px;
        height: 50vh;
        margin: 0;
        background-color: var(--background-color);
        border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
    }

    .navbar-menu a{
        padding-left: 35px;
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .open{
        right: -100%;
    }

    .header-par{
        width: 350px;
    }

    button{
        margin-left: 30%;
        margin-right: 30%;
    }

    .header-img img{
        width: 350px;
    }

    .about-img img{
        width: 500px;
    }   

    .about-par{
        width: 500px;
        text-align: center;
    }

    .service-box{
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .why-box{
        width: 400px;
    }

}

@media (max-width:600px){
    html{
        font-size: 70%;
    }

    #menu-icon{
        display: inline-block;
        font-size: 30px;
        color: white;
        margin-right: 5%;
    }

    .navbar-menu{
        position: absolute;
        top: 100%;
        right: 0;
        width: 150px;
        height: 50vh;
        margin: 0;
        background-color: var(--background-color);
        border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
    }

    .navbar-menu a{
        padding-left: 35px;
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .open{
        right: -100%;
    }

    .header-par{
        width: 250px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    button{
        margin-left: 30%;
        margin-right: 30%;
    }

    .header-img img{
        width: 250px;
    }

    .about-img img{
        width: 250px;
    }

    .about-par{
        width: 250px;
        text-align: center;
    }

    .service-box{
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .why-box{
        width: 300px;
    }

}